input[type=checkbox]:checked + .strikethrough {
    text-decoration: line-through;
    text-decoration-color: #666666;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 10px;
    margin: 1em auto;
}

.checkbox-button {
    width: 4em;
    text-align: left;
}

.delete-button {
    width: 4em;
}

.p {
    align-self: center;
    display: inline;
}