input[type=checkbox]:checked + .strikethrough {
    text-decoration: line-through;
    text-decoration-color: #666666;
}

.todo {
    width: 70%;
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 10px;
    margin: 20px auto;
}

.delete-button {
    float: right;
    clear: both;
    position: relative;
    bottom: 20px;
}

.checkbox-button {
    float: left;
    clear: both;
}

.label {
    align-self: center;
}